{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego - {{ game_name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Contenedor principal -->
    <div class="game-container">
        <!-- Cargar el juego WebGL -->
        <iframe src="/static/{{ game_name }}Build/index.html" class="game-frame"></iframe>
        <!-- Botón de salir -->
        <button id="exitButton" class="exit-button" type="submit">Salir</button>
    </div>

    <script>
        var username = "{{ username }}";
        localStorage.setItem("username", username);

        // Funcionalidad del botón de salir
        document.getElementById('exitButton').addEventListener('click', function() {
            window.location.href = "/games/game_selection";  // Redirige al usuario a la página de selección de juegos
        });
    </script>
</body>
</html>
